<button mat-raised-button (click)="openDialog()" style="color: rgb(43, 43, 184); font-size: 140%;">click</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin: 60px; ">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="background: rgb(78, 111, 211); font-size: 135%;"> id </th>
        <td mat-cell *matCellDef="let data;let idx = index" style="column-gap: 550%;"> {{idx+1}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="statename">
        <th mat-header-cell *matHeaderCellDef style="background: rgb(78, 111, 211);font-size: 135%;">statename </th>
        <td mat-cell *matCellDef="let data"> {{data.statename}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="statecode">
        <th mat-header-cell *matHeaderCellDef style="background: rgb(78, 111, 211);font-size: 135%;" > statecode </th>
        <td mat-cell *matCellDef="let data">{{data.statecode }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="background: rgb(78, 111, 211);font-size: 135%;"> action </th>
        <td mat-cell *matCellDef="let data"> 
            <button mat-raised-button type="button" (click)="editdialog(data)" style="color: rgb(43, 184, 48)"><mat-icon>mode_edit</mat-icon></button> 
        <button mat-raised-button type="button" (click)="onRemove(data)" style="color: rgb(209, 21, 21)" ><mat-icon>highlight_off</mat-icon></button>    
        </td>
    </ng-container>

    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>