<h1 style="text-align: center;text-decoration: underline;color: darkslategrey;font-variant: small-caps">Thaluk Data Entry</h1>

    <button mat-raised-button (click)="openDialog()" style="color: white; font-size: 1.5rem;position: relative;left: 82%;top: 10%;background-color: midnightblue;text-transform: uppercase;padding: 10px;">Add Thaluk</button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin: 60px;margin-top: 7%;margin-left: 7%;">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="background: rgb(78,211,191); font-size: 135%;"> Id </th>
        <td mat-cell *matCellDef="let data;let idx = index" style="column-gap: 550%;"> {{idx+1}}</td>
    </ng-container>


    <ng-container matColumnDef="statename">
        <th mat-header-cell *matHeaderCellDef style="background: rgb(78,211,191);font-size: 135%;">ThalukName </th>
        <td mat-cell *matCellDef="let data"> {{data.statename}}</td>
    </ng-container>


    <ng-container matColumnDef="statecode">
        <th mat-header-cell *matHeaderCellDef style="background: rgb(78,211,191);font-size: 135%;" > ThalukCode </th>
        <td mat-cell *matCellDef="let data">{{data.statecode }} </td>
    </ng-container>


    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="background: rgb(78,211,191 );font-size: 135%;"> Actions </th>
        <td mat-cell *matCellDef="let data2">
          <button mat-raised-button type="button" (click)="editdialog(data2)" style="padding: 5px;font-weight: bold;text-transform: uppercase;font-size: 15px;background-color: forestgreen;color: white">Update</button>
        <button mat-raised-button type="button" (click)="onRemove(data2)" style="padding: 5px;font-weight: bold;text-transform: uppercase;font-size: 15px;background-color: darkred;color:white" >Delete</button>
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
